* {
    box-sizing: border-box;
}
img {
    max-width: 100%;
    max-height: 100%;
}
body {
    /* min-width: 1519.2px; */
}
.main1 {
    width: 100%;
    /* min-width: 1519.2px; */

    height: 600px;
    background-color: #eee2d2;
}
.banner_box {
    /* width: 90%; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* min-width: 1367.28px; */
}
div.banner2 {
    display: none;
}
div.shanlist {
    font-size: 40px;
    font-weight: bold;
    color: #5f7eaf;
    margin-top: 40px;
    font-family: 'Roboto', '微軟正黑體';
}
div.choose {
    font-size: 25px;
    color: #5f7eaf;
    margin-top: 15px;
    margin-bottom: 20px;
    font-family: 'Source Serif Pro';
}

.icon_local {
    width: 30px;
    display: flex;
}
div.local {
    align-items: center;
    display: flex;
    margin-top: 30px;
    margin-bottom: 40px;
}
.local_2 {
    display: flex;
    align-items: center;
    font-family: '微軟正黑體';
}

.icon_local_2 {
    width: 30px;
    /* display: flex; */
}
.icon_local_3 {
    margin-left: 55px;
    width: 30px;
}

div.recommend_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* min-width: 1517.6px; */
}
div.recommend_2 {
    display: flex;
    background-color: #7893ad;
    color: #fed699;
    font-size: 23px;
    /* font-weight: initial; */
    align-items: center;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 50px;
    width: 230px;
    height: 50px;
    font-family: 'Source Serif Pro';
}

/* div.recbox {
    min-width: 1520px;
} */

div.recbox {
    width: 1400px;
    margin: 0 auto;
    min-width: 1519.2px;
}

div.rec {
    width: 90%;
    min-width: 1367.28px;
    background-color: #e9e6df;
    margin: 0 auto;
    display: flex;
    font-family: 'Source Serif Pro', '微軟正黑體';
}
.rec_photo {
    height: 515px;
    float: left;
    /* width: 688px; */
}
div.rec_rectangle {
    display: flex;
    background-color: #d2cac0;
    width: 100%;
    /* height: 50px; */
    font-size: 25px;
    align-items: center;
    /* justify-content: space-around; */
    justify-content: space-between;
    padding: 10px;
}
.rec_local {
    width: 30px;
}
.rec_heart {
    width: 35px;
}

/* 文字部分 */

.rec_pre {
    width: 100%;
    font-size: 15px;
    padding: 10px;
}
.rec_pre > div {
    /* padding: 15px; */
    text-align: justify;
    line-height: 30px;
}
.aaa {
    width: 50%;
}

/*標籤連結*/

.eeeeee {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 50px;
}
.eeeeee > a {
    width: 100px;
    color: #535353;
    background-color: #e8dccd;
    border-radius: 10px;
    text-decoration: none;
    padding: 10px;
    text-align: center;
}
.gogoboxtext2 {
    margin: 20px 0;
}

.gogoboxadd {
    margin: 7px 0;
}

/*拍立得部分*/
div.bigphoto_box1 {
    min-width: 1519.2px;
}
div.photobox {
    width: 90%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    min-width: 1367.28px;

    font-family: 'Source Serif Pro', '微軟正黑體';
}

div.photobox2 {
    width: 90%;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: space-between;
    min-width: 1367.28px;

    font-family: 'Source Serif Pro', '微軟正黑體';
}

.box_photo1,
.box2_photo2,
.box3_photo3,
.box4_photo4 {
    width: 100%;
    padding: 10px;
}

.box5_photo5,
.box6_photo6,
.box7_photo7,
.box8_photo8 {
    width: 100%;
    padding: 10px;
}

/* hype */

div.hype_local {
    display: flex;
    width: 100%;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
}
.hype_icon {
    width: 35px;
}
.hype {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    /* padding: 5px; */
    text-align: center;
}
.box1_totaltext {
    width: 100%;
    font-size: 15px;
    padding: 5px;
}
.box1_totaltext > div {
    padding: 5px;
    text-align: justify;
    line-height: 30px;
}
div.box1 {
    width: 307.63px;
    background-color: #f2eee5;
}

.hastag_hype {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.hastag_hype2 > a {
    width: 60px;
    color: #535353;
    background-color: #e8dccd;
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    text-align: center;
}

.hastag_hype > a {
    text-decoration: none;
    color: #535353;
}
/* 酒吧 */

div.bbar_local {
    display: flex;
    width: 100%;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
}
.bbar_icon {
    width: 35px;
}
.bbar {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    /* padding: 5px; */
    text-align: center;
}
.box2_totaltext {
    width: 100%;
    font-size: 15px;
    padding: 5px;
}
.box2_totaltext > div {
    padding: 5px;
    text-align: justify;
    line-height: 30px;
}
div.box2 {
    width: 307.63px;
    background-color: #f2eee5;
}

.hastag_bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.hastag_bar2 > a {
    width: 60px;
    color: #535353;
    background-color: #e8dccd;
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    text-align: center;
}

.hastag_bar > a {
    text-decoration: none;
    color: #535353;
}
/* 負壹 */

div.neon_local {
    display: flex;
    width: 100%;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
}
.neon_icon {
    width: 35px;
}
.neon {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    /* padding: 5px; */
    text-align: center;
}
.box3_totaltext {
    width: 100%;
    font-size: 15px;
    padding: 5px;
}
.box3_totaltext > div {
    padding: 5px;
    text-align: justify;
    line-height: 30px;
}
div.box3 {
    width: 307.63px;
    background-color: #f2eee5;
}

.hastag_neon {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.hastag_neon2 > a {
    width: 60px;
    color: #535353;
    background-color: #e8dccd;
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    text-align: center;
}

.hastag_neon > a {
    text-decoration: none;
    color: #535353;
}
/* PAPER */

div.paper_local {
    display: flex;
    width: 100%;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
}
.paper_icon {
    width: 35px;
}
.paper {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    /* padding: 5px; */
    text-align: center;
}
.box4_totaltext {
    width: 100%;
    font-size: 15px;
    padding: 5px;
}
.box4_totaltext > div {
    padding: 5px;
    text-align: justify;
    line-height: 30px;
}
div.box4 {
    width: 307.63px;
    background-color: #f2eee5;
}
.hastag_paper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.hastag_paper2 > a {
    width: 60px;
    color: #535353;
    background-color: #e8dccd;
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    text-align: center;
}

.hastag_paper > a {
    text-decoration: none;
    color: #535353;
}

/* 古董咖啡 */

div.bigphoto_box2 {
    min-width: 1519.2px;
}
div.cafe_local {
    display: flex;
    width: 100%;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
}
.cafe_icon {
    width: 35px;
}
.cafe {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    /* padding: 5px; */
    text-align: center;
}
.box5_totaltext {
    width: 100%;
    font-size: 15px;
    padding: 5px;
}
.box5_totaltext > div {
    padding: 5px;
    text-align: justify;
    line-height: 30px;
}
div.box5 {
    width: 307.63px;

    background-color: #f2eee5;
}

.hastag_cafe {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.hastag_cafe2 > a {
    width: 60px;
    color: #535353;
    background-color: #e8dccd;
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    text-align: center;
}

.hastag_cafe > a {
    text-decoration: none;
    color: #535353;
}

/* 卡托米利庭園咖啡 */

div.mili_local {
    display: flex;
    width: 100%;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
}
.mili_icon {
    width: 35px;
}
.mili {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    /* padding: 5px; */
    text-align: center;
}
.box6_totaltext {
    width: 100%;
    font-size: 15px;
    padding: 5px;
}
.box6_totaltext > div {
    padding: 5px;
    text-align: justify;
    line-height: 30px;
}
div.box6 {
    width: 307.63px;
    background-color: #f2eee5;
}

.hastag_mili {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.hastag_mili2 > a {
    width: 60px;
    color: #535353;
    background-color: #e8dccd;
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    text-align: center;
}

.hastag_mili > a {
    text-decoration: none;
    color: #535353;
}

/* 古巴娜咖啡 */

div.ku_local {
    display: flex;
    width: 100%;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
}
.ku_icon {
    width: 35px;
}
.ku {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    /* padding: 5px; */
    text-align: center;
}
.box7_totaltext {
    width: 100%;
    font-size: 15px;
    padding: 5px;
}
.box7_totaltext > div {
    padding: 5px;
    text-align: justify;
    line-height: 30px;
}
div.box7 {
    width: 307.63px;
    background-color: #f2eee5;
}

.hastag_ku {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.hastag_ku2 > a {
    width: 60px;
    color: #535353;
    background-color: #e8dccd;
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    text-align: center;
}

.hastag_ku > a {
    text-decoration: none;
    color: #535353;
}

/* 霞飛音樂城堡 */

div.fly_local {
    display: flex;
    width: 100%;
    font-size: 25px;
    align-items: center;
    justify-content: space-between;
    padding: 5px 10px 0px 10px;
}
.fly_icon {
    width: 35px;
}
.fly {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    /* padding: 5px; */
    text-align: center;
}
.box8_totaltext {
    width: 100%;
    font-size: 15px;
    padding: 5px;
}
.box8_totaltext > div {
    padding: 5px;
    text-align: justify;
    line-height: 30px;
}
div.box8 {
    width: 307.63px;
    background-color: #f2eee5;
}

.hastag_fly {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;
}
.hastag_fly2 > a {
    width: 60px;
    color: #535353;
    background-color: #e8dccd;
    border-radius: 10px;
    text-decoration: none;
    padding: 7px;
    text-align: center;
}

.hastag_fly > a {
    text-decoration: none;
    color: #535353;
}

div.popular_1 {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-width: 1519.2px;
    font-family: 'Source Serif Pro';
}

div.popular_2 {
    display: flex;
    background-color: #7893ad;
    color: #fed699;
    font-size: 23px;
    /* font-weight: bold; */
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
    width: 230px;
    height: 50px;
    font-family: 'Source Serif Pro';
}
/* no.1 */

div.bbb_box {
    min-width: 1519.2px;
}
div.bbb {
    width: 90%;
    background-color: #eac9b8;
    margin: 0 auto 40px auto;

    display: flex;
    justify-content: space-around;

    /* height: 640px; */
    font-family: 'Source Serif Pro', '微軟正黑體';
    min-width: 1367.28px;
}
div.bbb_rec {
    /* border: 1px solid black; */
}

div.bbbtext_total {
    margin-bottom: 10px;
}

div.card1 {
    width: 400px;
    overflow: hidden;
    margin-top: 8px;
}

div.bbb_onaname {
    font-size: 25px;
    background-color: #f2eee5;
    border-radius: 15px;
    padding: 10px;
    margin: 5px 0px 0px 0px;
    text-align: center;
}

div.bbb_text {
    font-size: 16px;
    margin: 5px 0 auto;
    background-color: #f2eee5;
    border-radius: 15px;
    text-align: justify;
    line-height: 30px;
    padding: 10px;
}

/* no.2 */

div.ccc_rec {
    /* border: 1px solid black; */
}

div.ccctext_total {
    /* background-color: #f2eee5;
    border-radius: 30px; */
}

div.card2 {
    width: 400px;
    overflow: hidden;
    margin-top: 8px;
}

div.ccc_onaname {
    font-size: 25px;
    background-color: #f2eee5;
    border-radius: 15px;
    padding: 10px;
    margin: 5px 0px 0px 0px;
    text-align: center;
}

div.ccc_text {
    font-size: 16px;
    margin: 5px 0 auto;
    background-color: #f2eee5;
    border-radius: 15px;
    text-align: justify;
    line-height: 30px;
    padding: 10px;
}

/* no.3 */

div.card3 {
    width: 400px;
    overflow: hidden;
    margin-top: 8px;
}

div.ddd_onaname {
    font-size: 25px;
    background-color: #f2eee5;
    border-radius: 15px;
    padding: 10px;
    margin: 5px 0px 0px 0px;
    text-align: center;
}

div.ddd_text {
    font-size: 16px;
    margin: 5px 0 auto;
    background-color: #f2eee5;
    border-radius: 15px;
    text-align: justify;
    line-height: 30px;
    padding: 10px;
}

/* hover */

div.box_photo1 {
    transition: opacity 1s ease;
}

div.box_photo1:hover .hypephoto1,
div.box_photo1:focus .hypephoto1 {
    opacity: 0.4;
}

div.box2_photo2 {
    transition: opacity 1s ease;
}

div.box2_photo2:hover .hypephoto1,
div.box2_photo2:focus .hypephoto1 {
    opacity: 0.4;
}

div.box3_photo3 {
    transition: opacity 1s ease;
}

div.box3_photo3:hover .hypephoto1,
div.box3_photo3:focus .hypephoto1 {
    opacity: 0.4;
}

div.box4_photo4 {
    transition: opacity 1s ease;
}

div.box4_photo4:hover .hypephoto1,
div.box4_photo4:focus .hypephoto1 {
    opacity: 0.4;
}

div.box5_photo5 {
    transition: opacity 1s ease;
}

div.box5_photo5:hover .hypephoto1,
div.box5_photo5:focus .hypephoto1 {
    opacity: 0.4;
}

div.box6_photo6 {
    transition: opacity 1s ease;
}

div.box6_photo6:hover .hypephoto1,
div.box6_photo6:focus .hypephoto1 {
    opacity: 0.4;
}

div.box7_photo7 {
    transition: opacity 1s ease;
}

div.box7_photo7:hover .hypephoto1,
div.box7_photo7:focus .hypephoto1 {
    opacity: 0.4;
}

div.box8_photo8 {
    transition: opacity 1s ease;
}

div.box8_photo8:hover .hypephoto1,
div.box8_photo8:focus .hypephoto1 {
    opacity: 0.4;
}

/* 排行 */

div.card1 {
    transition: opacity 1s ease;
}

div.card1:hover .hypephoto1,
div.card1:focus .hypephoto1 {
    opacity: 0.4;
}

div.card2 {
    transition: opacity 1s ease;
}

div.card2:hover .hypephoto1,
div.card2:focus .hypephoto1 {
    opacity: 0.4;
}

div.card3 {
    transition: opacity 1s ease;
}

div.card3:hover .hypephoto1,
div.card3:focus .hypephoto1 {
    opacity: 0.4;
}

/* ============測試============ */
/* Slider */
.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -ms-touch-action: none;
    touch-action: none;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    overflow: hidden;
    display: block;
    margin: 0;
    padding: 0;
}
.slick-list:focus {
    outline: none;
}
.slick-loading .slick-list {
    background: white url(https://i.imgur.com/YWGUhK4.gif) center center no-repeat;
}
.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-list,
.slick-track,
.slick-slide,
.slick-slide img {
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    -o-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    left: 0;
    top: 0;
    display: block;
    zoom: 1;
}
.slick-track:before,
.slick-track:after {
    content: '';
    display: table;
}
.slick-track:after {
    clear: both;
}
.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    float: left;
    height: 100%;
    min-height: 1px;
    display: none;
}
.slick-slide img {
    display: block;
}
.slick-slide.dragging img {
    pointer-events: none;
}
.slick-initialized .slick-slide {
    display: block;
}
.slick-loading .slick-slide {
    visibility: hidden;
}
.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

/* Icons */
@font-face {
    font-family: 'slick';
    src: url('https://www.codedevelopr.com/screenshots/2014/slick.eot');
    src: url('https://www.codedevelopr.com/screenshots/2014/slick.eot?#iefix') format('embedded-opentype'),
        url('https://www.codedevelopr.com/screenshots/2014/slick.woff') format('woff'),
        url('https://www.codedevelopr.com/screenshots/2014/slick.ttf') format('truetype'),
        url('https://www.codedevelopr.com/screenshots/2014/slick.svg#slick') format('svg');
    font-weight: normal;
    font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
    position: absolute;
    display: block;
    height: 20px;
    width: 20px;
    line-height: 0;
    font-size: 0;
    cursor: pointer;
    background: transparent;
    color: transparent;
    top: 50%;
    margin-top: -10px;
    padding: 0;
    border: none;
    outline: none;
}
.slick-prev:focus,
.slick-next:focus {
    outline: none;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
    opacity: 0.25;
}

.slick-prev:before,
.slick-next:before {
    font-family: 'slick';
    font-size: 20px;
    line-height: 1;
    color: white;
    opacity: 0.85;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
    left: -25px;
}
.slick-prev:before {
    content: '\2190';
}

.slick-next {
    right: -25px;
}
.slick-next:before {
    content: '\2192';
}

/* Dots */
.slick-slider {
    margin-bottom: 30px;
}

.slick-dots {
    position: absolute;
    bottom: -45px;
    list-style: none;
    display: block;
    text-align: center;
    padding: 0px;
    width: 100%;
}
.slick-dots li {
    position: relative;
    display: inline-block;
    height: 20px;
    width: 20px;
    margin: 0px 5px;
    padding: 0px;
    cursor: pointer;
}
.slick-dots li button {
    border: 0;
    background: transparent;
    display: block;
    height: 20px;
    width: 20px;
    outline: none;
    line-height: 0;
    font-size: 0;
    color: transparent;
    padding: 5px;
    cursor: pointer;
    outline: none;
}
.slick-dots li button:focus {
    outline: none;
}
.slick-dots li button:before {
    position: absolute;
    top: 0;
    left: 0;
    content: '\2022';
    width: 20px;
    height: 20px;
    font-family: 'slick';
    font-size: 6px;
    line-height: 20px;
    text-align: center;
    color: black;
    opacity: 0.25;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
    opacity: 0.75;
}

.slick-slide > .slick-slider-img {
    /*     margin: 10px; */
    /*     padding: 2%; */
    position: relative;
    /*     border: 5px solid #FFF; */
    display: block;
    width: 100%;
}
.slick-slide .image {
    /* padding: 10px; */
    /*height: 180px;*/
}

.slick-slide img {
    border: 5px solid #fff;
    display: block;
    width: 100%;
}
.slick-slide img.slick-loading {
    display: none;
}

/* ============RWD HEADER============ */
@media screen and (max-width: 992px) {
    div.top_nav2 > li > a.link_style {
        color: white;
    }

    /* 已點擊過的連結 */
    div.top_nav2 > li > a.link_style:visited {
        color: white;
    }
    /* 滑鼠移過去之後 */
    div.top_nav2 > li > a.link_style:hover {
        color: #5f7eaf;
    }

    /* 滑鼠按壓下去後，還沒放開 */
    div.top_nav2 > li > a.link_style:active {
        color: #eee2d2 8eb;
    }
    select.custom_select22 {
        background: rgb(255, 255, 255);
        /* color: rgb(90, 90, 90); */
        background-image: url('../imag/down-arrow.png');
        background-repeat: no-repeat;
        background-size: 12px;
        background-position: right 8px center;
    }

/* =======================RWD的首頁第一面======================= */

@media screen and (max-width: 992px) {
    body {
        background-color: black;
    }
    div.shanlist {
        display: none;
    }
    div.choose {
        display: none;
    }
    div.local {
        display: none;
    }
    div.local_2 {
        display: none;
    }
    div.header2 {
        background-color: black;
    }

    div.banner2 {
        display: block;
        width: 100%;
        margin: 0 auto;
        /* margin-top: 40px; */
    }
    div.banner_box {
        background-color: black;
        margin-top: 40px;
    }
    div.banner {
        display: none;
    }
    .main1 {
        background-color: black;
        
    }
    
}



@media screen and (max-width: 992px) {
    div.recommend_1 {
    position: relative;
    align-items: center;
    justify-content: center;
    margin-top: 0px;
    
    }

}