* {
    box-sizing: border-box;
    font-family: 'Source Serif Pro', '微軟正黑體';
}
img {
    max-width: 100%;
    max-height: 100%;
}

header {
    /* background-color: #ccb597; */
    background-color: #ffffff;
}
body {
    background-color: rgb(247, 240, 234);
}

div.magtitle {
    width: 80%;
    min-width: 1200px;
    font-size: 30px;
    align-content: center;
    display: flex;
    justify-content: center;
    margin: 30px auto;
    font-weight: bold;
}

div.hot_text_rec {
    width: 80%;
    margin: 0 auto;
}
div.hot_text_page {
    font-size: 25px;
    width: 120px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    background-color: rgb(240, 225, 206);
    /* width: 80%; */

    /* border-bottom: 1px solid #464444; */
}

div.hotpage {
    width: 80%;
    min-width: 1200px;
    margin: 20px auto 20px;
    display: flex;
}

div.hot_photo1 {
    width: 600px;
}
div.hot_font1 {
    margin-top: 20px;
}

div.hot_font1 > a {
    font-size: 20px;
    text-decoration: none;
    color: black;
    font-weight: bold;
}

div.date1 {
    text-align: left;
    margin-bottom: 10px;
    color: rgb(110, 110, 110);
}
div.hot_two {
    display: flex;
    /* width: 100%; */
    /* flex-direction: column; */
}

div.left_rec {
    width: 50%;
}

div.right_rec {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 17px;
}

div.hot_two > a {
    width: 190px;
    margin-bottom: 30px;
}

div.hottext_a {
    margin-left: 10px;
    /* text-decoration: none; */
}
div.hottext_a > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}

div.date2 {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
    color: rgb(110, 110, 110);
}

div.hottext_b {
    margin-left: 10px;
    /* text-decoration: none; */
}
div.hottext_b > a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    line-height: 30px;
}
div.date3 {
    text-align: left;
    margin-bottom: 10px;
    margin-left: 10px;
    color: rgb(110, 110, 110);
}

div.border1 {
    font-size: 0px;
    border-bottom: 1px solid black;
    margin-bottom: 30px;
}

div.hot_font2 {
    width: 60%;
}

/* 第二部分 濾鏡 */

div.hot_text_rec2 {
    width: 80%;
    margin: 50px auto;
}
div.hot_text_page2 {
    font-size: 25px;
    width: 170px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    background-color: rgb(240, 225, 206);
    /* width: 80%; */

    /* border-bottom: 1px solid #464444; */
}

div.filter {
    width: 80%;
    display: flex;
    margin: 30px auto;
    justify-content: space-between;
}

/* 第一張 */

div.filter_photo1 {
    width: 290px;
}

div.filter_date1 {
    margin: 7px auto;
    font-size: 14px;
    color: rgb(110, 110, 110);
}

div.filter_font1 > a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    line-height: 25px;
}

/* 第二張 */

div.filter_photo2 {
    width: 290px;
}

div.filter_date2 {
    margin: 7px auto;
    font-size: 14px;
    color: rgb(110, 110, 110);
}

div.filter_font2 > a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    line-height: 25px;
}

/* 第三張 */

div.filter_photo3 {
    width: 290px;
}

div.filter_date3 {
    margin: 7px auto;
    font-size: 14px;
    color: rgb(110, 110, 110);
}

div.filter_font3 > a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    line-height: 25px;
}

/* 第四張 */
div.filter_photo4 {
    width: 290px;
}

div.filter_date4 {
    margin: 7px auto;
    font-size: 14px;
    color: rgb(110, 110, 110);
}

div.filter_font4 > a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    line-height: 25px;
}

p.page_more {
    font-size: 17px;
    margin: 15px auto;
    width: 80%;
    text-align: right;
}
p.page_more > a {
    text-decoration: none;
    font-family: 'Source Serif Pro';
    color: #000000;
}

/* 第三部分 景點 */
div.hot_text_rec3 {
    width: 80%;
    margin: 50px auto;
}
div.hot_text_page3 {
    font-size: 25px;
    width: 170px;
    padding: 5px 0px 5px 0px;
    text-align: center;
    background-color: rgb(240, 225, 206);
    /* width: 80%; */

    /* border-bottom: 1px solid #464444; */
}

div.local {
    width: 80%;
    display: flex;
    margin: 30px auto;
    justify-content: space-between;
}
/* 第一張 */

div.local_photo1 {
    width: 290px;
}

div.local_date1 {
    margin: 7px auto;
    font-size: 14px;
    color: rgb(110, 110, 110);
}

div.local_font1 > a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    line-height: 25px;
}
/* 第二張 */
div.local_photo2 {
    width: 290px;
}

div.local_date2 {
    margin: 7px auto;
    font-size: 14px;
    color: rgb(110, 110, 110);
}

div.local_font2 > a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    line-height: 25px;
}

/* 第三張 */

div.local_photo3 {
    width: 290px;
}

div.local_date3 {
    margin: 7px auto;
    font-size: 14px;
    color: rgb(110, 110, 110);
}

div.local_font3 > a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    line-height: 25px;
}

/* 第四張 */
div.local_photo4 {
    width: 290px;
}

div.local_date4 {
    margin: 7px auto;
    font-size: 14px;
    color: rgb(110, 110, 110);
}

div.local_font4 > a {
    text-decoration: none;
    font-size: 16px;
    color: black;
    line-height: 25px;
}

p.page_more2 {
    font-size: 17px;
    margin: 15px auto;
    width: 80%;
    text-align: right;
}
p.page_more2 > a {
    text-decoration: none;
    font-family: 'Source Serif Pro';
    color: #000000;
}
